/* color of navbar background */
.navbar {
    overflow: hidden;
}

/* color of link words */
.navbar a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: green;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: green;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    padding-top: 10%;
}

h2 {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    outline-color: white;
}

h3 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25x;
}

body {
    background-color: #F8FFEC;
    padding-left: 10%;
    padding-right: 10%;
}

button {
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    background-color: green;
}

a {
    /* getting rid of underline in button link */ 
    text-decoration: none;
}

button:hover {
    background-color: white;
}

img {
    max-width: 500px;
    max-height: 500px;
    float: left;
    border-radius: 30px;
    border: 10px solid green;
    margin-right: 50px;
    margin-bottom: 50px;
    
}

.text {
    padding-top: 3%;
}

.resume {
    font-size: 40px;
    text-align: center;
    color: #009900;
    font-weight: bold;
}

.container {
    margin: 100px auto;
    width: 75%;
    align-items: center;
    padding-top: 5%;
    
}

